@import "./reset.css";

html {
  font-size: 10px;
}

body {
  background-color: #f5f5f5;

  height: 100vh;

  padding: 0 35rem;

}

header {
  height: 5vh;

  padding: 0.5rem 0 0.5rem;

  display: flex;
  justify-content: center;
}

.header__title-image {
  height: 3rem;
}

main {
  height: 80vh;

  display: flex;
  justify-content: space-between;
}

nav {
  height: 5vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__btn-wrapper {
  display: flex;
}

.nav__today-btn {
  height: 2rem;

  margin: 0 0.5rem;
}

.today-btn-img {
  height: 100%
}

.nav__tommorrow-btn {
  height: 2rem;

  margin: 0 0.5rem;
}

.tommorrow-btn-img {
  height: 100%
}

.nav__all-btn {
  height: 2rem;

  margin: 0 0.5rem;
}

.all-btn-img {
  height: 100%
}

.section-left {
  width: 48%;
  
  border: solid 0.2rem #a2a2a2;
  
  overflow: hidden;
}

.section-left__title {
  height: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 ;

  background-color: #d9d9d9;

  border-bottom: solid 0.2rem #a2a2a2;
}

.section-left__article-wrapper {
  height: 45rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 3.4rem 4.1rem 3.4rem;
}

.section-left__input-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-left__input {
  width: 100%;

  height: 4rem;

  border: none;
  border-bottom: solid 0.2rem #a2a2a2;

  background-color: transparent;
  color: black;
  font-size: 2rem;

  padding: 0 1rem;
}

.section-right {
  width: 48%;

  border: solid 0.2rem #a2a2a2;

  overflow: hidden;
}

.section-right__title {
  height: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 ;

  background-color: #d9d9d9;

  border-bottom: solid 0.2rem #a2a2a2;
}

.section-right__article-wrapper {
  height: 45rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 3.4rem 4.1rem 3.4rem;

}

.input-wrapper {
  width: 100%;

  display: flex;
  align-items: center;
}

.section-right__input-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.section-right__input {
  height: 4rem;

  width: 100%;

  border: none;
  border-bottom: solid 0.1rem #a2a2a2;

  background-color: transparent;
  color: black;
  font-size: 2rem;

  padding: 0 1rem;
}

.delete-img {
  height: 20%;

  margin-left: 1rem;
}

.section-left__add {
  height: 4rem;

  width: 100%;

  display: flex;

  padding: 0.1rem;
}

.section-left__add-input {
  height: 3.6rem;

  width: 80%;

  padding: 0;

  border: solid 0.2rem #d9d9d9;
  border-top-left-radius: 1rem;
  border-end-start-radius: 1rem;

  background-color: transparent;
  
}

.section-left__add-btn {
  height: 100%;

  width: 20%;

  padding: 0;

  border: solid 0.2rem #d9d9d9;
  border-left: none;
  border-top-right-radius: 1rem;
  border-end-end-radius: 1rem;

}

.section-right__add {
  height: 4rem;

  width: 100%;

  display: flex;

  padding: 0.1rem;

}

.section-right__add-input {
  height: 3.6rem;

  width: 80%;

  padding: 0;

  border: solid 0.2rem #d9d9d9;
  border-top-left-radius: 1rem;
  border-end-start-radius: 1rem;

  background-color: transparent;
}

.section-right__add-btn {
  height: 100%;

  width: 20%;

  padding: 0;

  border: solid 0.2rem #d9d9d9;
  border-left: none;
  border-top-right-radius: 1rem;
  border-end-end-radius: 1rem;

}

.add-img {
  height: 60%;
}

.hidden {
  width: 0;
}

.all {
  width: 100%;
}

footer {
  height: 3rem;

  margin-top: 1rem;
  
  background-color: #d9d9d9;
}


